[user]
	name = MrPink
	email = MrPink@users.noreply.github.com

[core]
	excludesfile = ~/.config/git/ignore
	editor = vim
	pager = less -F -X

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[diff]
	colorMoved = default

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status -sb
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --oneline --graph --decorate -20
	amend = commit --amend --no-edit
	wip = !git add -A && git commit -m 'WIP'
	undo = reset --soft HEAD~1
	branches = branch -a
	tags = tag -l
	stashes = stash list
	discard = checkout --
	contrib = shortlog -sn
