# Starship prompt configuration
# https://starship.rs/config/

format = """
$directory\
$git_branch\
$git_status\
$kubernetes\
$ruby\
$nodejs\
$python\
$cmd_duration\
$line_break\
$character"""

[directory]
truncation_length = 3
truncate_to_repo = true

[git_branch]
format = "[$branch]($style) "
style = "bold purple"

[git_status]
format = '([$all_status$ahead_behind]($style) )'
style = "bold red"

[kubernetes]
disabled = false
format = '[$symbol$context( \($namespace\))]($style) '
style = "bold blue"

[ruby]
format = "[$symbol($version)]($style) "
symbol = "rb "

[nodejs]
format = "[$symbol($version)]($style) "

[python]
format = "[$symbol($version)]($style) "

[cmd_duration]
min_time = 2_000
format = "[$duration]($style) "
style = "bold yellow"

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"
